body {
    font-size: 14px;
}

.page-content {
    margin: 20px auto;
    text-align: center;
    min-height: 500px;
    width: 100%;
}

table {
    margin: 0 auto;
    width: 100%;
}

    table tr th, td {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        vertical-align: central;
    }

a {
    font-size: 14px;
    text-decoration: none;
}

    a:hover {
        color: #0811c2;
    }

    a:active {
        color: #813ea5;
    }
